#dl-menu nav {
    display: block;
    border-top: 0
}

@media (min-width: 1025px) {
    #dl-menu nav ul li:hover a {
        color: #000
    }
}

#dl-menu nav ul li.hasChildren ul li.dl-back {
    border-bottom: none !important
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #dl-menu nav ul li {
        background-position: 98% center !important
    }
}

@media only screen and (max-width: 767px) {
    #dl-menu nav ul li {
        background-position: 93% center !important
    }
}

#dl-menu nav ul li:last-of-type {
    border-bottom: none
}

.dl-trigger {
    display: none
}

.dl-menuwrapper {
    width: 100%;
    max-width: 100%;
    float: left;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%
}

.dl-menuwrapper:first-child {
    margin-right: 100px
}

.dl-menuwrapper button {
    background: #ccc;
    border: none;
    width: 48px;
    height: 45px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: 0
}

.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    background: #fff;
    top: 10px;
    left: 16%;
    box-shadow: 0 10px 0 #fff, 0 20px 0 #fff
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.dl-menuwrapper .sub-menu li.dl-subviewopen li.dl-back {
    border-top: none
}

.dl-menuwrapper li.dl-back {
    border-top: none
}

.dl-menuwrapper li.dl-back {
    background-color: #e4c48e !important;
    background-position: 5% center !important;
    background-repeat: no-repeat !important;
    background-size: 15px 13px !important;
    text-align: center;
    color: #58293b;
    text-transform: uppercase
}

.dl-subview {
    padding: 0 !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .dl-menuwrapper li.dl-back > a {
        background-position: 2% center !important
    }
}

@media only screen and (max-width: 767px) {
    .dl-menuwrapper li.dl-back > a {
        background-position: 7% center !important
    }
}

.dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: 0;
    line-height: 50px
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    color: rgba(212, 204, 198, 0.3);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.dl-menuwrapper li > a:after {
    right: 17px;
    color: rgba(0, 0, 0, 0.15)
}

.dl-menuwrapper .menu {
    margin: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-height: 0
}

.dl-menuwrapper .menu.dl-menu-toggle {
    transition: all 0s ease
}

.dl-menuwrapper .menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    max-height: inherit
}

.dl-menuwrapper li .sub-menu {
    display: none
}

.menu.dl-subview li, .menu.dl-subview li.dl-subviewopen > a, .menu.dl-subview li.dl-subview > a {
    display: none
}

.menu.dl-subview li.dl-subview, .menu.dl-subview li.dl-subview .sub-menu, .menu.dl-subview li.dl-subviewopen, .menu.dl-subview li.dl-subviewopen > .sub-menu, .menu.dl-subview li.dl-subviewopen > .sub-menu > li {
    display: block
}

.dl-menuwrapper > .sub-menu {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    margin: 0
}

.menu.dl-animate-out-5 {
    -webkit-animation: MenuAnimOut5 .01s ease;
    animation: MenuAnimOut5 .01s
}

@-webkit-keyframes MenuAnimOut5 {
    100% {
        opacity: 0
    }
}

@keyframes MenuAnimOut5 {
    100% {
        transition: opacity;
        opacity: 0
    }
}

.menu.dl-animate-in-5 {
    -webkit-animation: MenuAnimIn5 .01s ease;
    animation: MenuAnimIn5 .01s ease
}

@-webkit-keyframes MenuAnimIn5 {
    0% {
        -webkit-transform: translateY(40%);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}

@keyframes MenuAnimIn5 {
    0% {
        transition: opacity;
        opacity: 0
    }
    100% {
        transition: opacity;
        opacity: 1
    }
}

.no-js .dl-menuwrapper .menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.no-js .dl-menuwrapper li .sub-menu {
    display: block
}

.no-js .dl-menuwrapper li.dl-back {
    display: none
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
    background: rgba(0, 0, 0, 0.1)
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
    content: ''
}

.wrap {
    clear: both
}
@media (min-width: 1025px) {
.tabs-options > ul > li  { text-transform: uppercase; color: #5c2a3d !important; font-size: 13px !important; padding: 12px 0 12px 30px !important; }
.tabs-options > ul > li:hover { background: #58293b; }
.tabs-options > ul > li:hover .sub-menu { display: block !important; }
.tabs-options > ul > li > a { padding: 0 !important; }
.tabs-options > ul > li:hover > a { color: white !important; }
.tabs-options ul li a { background: none !important; }
.sub-menu .grid-20 { padding-left: 0 !important; }
.sub-menu .grid-20:last-of-type { padding-right: 0 !Important; }
.sub-menu { display: none !important; }
.sub-menu img { width: 100%; height: auto; margin-top: 27px; margin-bottom: 10px; }
}
.dl-subviewopen { padding: 0 !important; }
.dl-subviewopen li { padding: 0; }
.dl-subviewopen > a, .dl-subview > a {display: none !important;}

.hasChildren { position: relative; font-family: "FontAwesome"; }
.hasChildren > a:after { content: "\f054"; color: #949494 !important; font-family: "FontAwesome"; }
.hasChildren .dl-back a:after { content: ""; }
.dl-back { position: relative; }
.dl-back a:before { content: "\f060"; color: #58293b !important;; font-family: "FontAwesome"; position: absolute; left: 17px; }
